/WebApplication/nbproject/private/
/WebApplication/build/
/WebApplication/dist/
/MathPages/nbproject/private/
/MathPages/build/
/Tabellina/nbproject/private/
/Tabellina/build/
/RubricaTelefonica/nbproject/private/
/RubricaTelefonica/build/
/RegistroContatti/nbproject/private/
/RegistroContatti/build/
/RegistroTelefonico/nbproject/private/
/Telefono/nbproject/private/
/Telefono/build/
/JavaApplication37/nbproject/private/
/AbstractFactory/nbproject/private/
/AbstractFactory/build/